.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.inp {
  background-color: #fefdf2;
}

.inp1 {
  padding-right: 2%;
}

.inp2 {
  padding-right: 1ch;
  padding-left: 3ch;
}

.inp3 {
  padding-top: 2%;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #83cee3;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.functions {
  width: 25%;
  height: 100vh;
  background-color: #eafdfb;
}

.table {
  overflow: auto;
  height: auto;
  background-color: #d6dadb;
}

.print {
  position: absolute;
  right: 0;
}

.date {
  border: none;
  background: rgba(0, 175, 204, 0.2);
  margin-right: 8px;
  padding: 6px 10px;
  border-radius: 15px;
}

.time {
  border: none;
  background: rgba(0, 0, 0, 0.2);
  margin-right: 8px;
  padding: 6px 10px;
  border-radius: 15px;
}
